body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  display: flex;
  height: 100%;
}

main aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(247, 247, 255);
  position: fixed;
  width: 197px;
  height: 100%;
}

.sidebar-spacer {
  width: 250px;
  background-color: green;
}

.main-container {
  /* background-color: green; */
  display: flex;
  width: 100%;
}

#dynamic-content {
  /* background-color: rgb(59, 163, 44); */
  width: 100%;
}
